@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model ProductsViewModel

@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_ScriptImports")
@foreach (var urunler in Model.Urunlers)
{
    if (urunler.Status == (UrunlerStatuses)1)
    {
        if (urunler.Banner == true)
        {
            @await Html.PartialAsync("_BannerPartial")
        }
        <br />

        <section class="main-content-w3layouts-agileits">
            @if (urunler.TitleStatus == true)
            {
                <center><h4 class="tittle">@urunler.Title</h4></center>
                if (urunler.SubtitleStatus == false)
                {
                    <hr />
                }
                else
                {
                    <center><h4>@urunler.Subtitle</h4></center>
                    <hr />
                }
            }
            @if (urunler.ContentStatus != false)
            {
                string description = urunler.Content;
                int maxLineLength = 128;
                List<string> descriptionLines = new List<string>();

                for (int i = 0; i < description.Length; i += maxLineLength)
                {
                    int remainingLength = Math.Min(maxLineLength, description.Length - i);
                    descriptionLines.Add(description.Substring(i, remainingLength));
                }

                <center>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <center>
                                        <p>
                                            @foreach (string line in descriptionLines)
                                            {
                                                @Html.Raw(line)
                                            }
                                        </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
                <hr />
            }
            <div class="container">
                <div class="inner-sec">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group list-group-flush">
                                @foreach (var category in Model.Categories)
                                {
                                    @foreach (var selected in Model.Category)
                                    {
                                        if (selected.Name == category.Name)
                                        {
                                            <a href="/Urunler/Kategori?kategoriID=@category.ID" class="list-group-item list-group-item-action active"> >> @category.Name</a>
                                        }
                                        else
                                        {
                                            if (category.Active != false)
                                            {
                                                <a href="/Urunler/Kategori?kategoriID=@category.ID" class="list-group-item list-group-item-action"> >> @category.Name</a>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-9">
                            @if (Model.Category == null)
                            {
                                <h4>BURASI DÜZENLENECEK</h4>
                            }
                            @foreach (var category in Model.Category)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="categoryInfo" style="margin-left: 10px;">
                                                    <h4 class="title">@category.Name</h4>
                                                    @if (category.Description != null)
                                                    {
                                                        <br />
                                                        <p>@category.Description</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <hr />
                            <div class="row">
                                @foreach (var product in Model.Products.OrderByDescending(p => p.CreateDate))
                                {
                                    <div class="col-lg-4 card" style="display: flex; flex-direction: column;">
                                        <div class="card-body">
                                            @if (!string.IsNullOrEmpty(product.ImageUrl1))
                                            {
                                                <a href="/Urunler/UrunDetaylari?urunID=@product.ID">
                                                    <img src="~/Resimler/@product.ImageUrl1" class="card-img-top img-fluid" alt="">
                                                </a>
                                            }
                                            <ul class="blog-icons my-4">
                                                <li>
                                                    <a href="/Urunler/UrunDetaylari?urunID=@product.ID" style="margin-left: 10px;">
                                                        <b>@product.Name </b>
                                                    </a>
                                                </li>
                                            </ul>
                                            @foreach (var category in Model.Category)
                                            {
                                                if (category.Name == "Alüminyum Ekstrüzyon (Alüminyum Çekme)")
                                                {
                                                    <a href="/Urunler/HizliTeklif/@product.ID" class="btn btn-primary read-m" id="teklifButon" style="width: 100%; margin-left: 0px; background: green; ">Hızlı Teklif</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <center><h1>DÜZENLEMEDE</h1></center>
    }
}


<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
    $(document).ready(function () {

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });

    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

</script>