@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model ProductsViewModel

@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_ScriptImports")
@foreach (var urunler in Model.Urunlers)
{
    if (urunler.Status == (UrunlerStatuses)1)
    {
        if (urunler.Banner == true)
        {
            @await Html.PartialAsync("_BannerPartial")
        }
        <br />
        <center><h3 class="tittle">@urunler.Title</h3></center>
        @if (urunler.SubtitleStatus != false)
        {
            <center><h4>@urunler.Subtitle</h4></center>
            <hr />
        }
        @if (urunler.ContentStatus != false)
        {
            string description = urunler.Content;
            int maxLineLength = 140;
            List<string> descriptionLines = new List<string>();

            for (int i = 0; i < description.Length; i += maxLineLength)
            {
                int remainingLength = Math.Min(maxLineLength, description.Length - i);
                descriptionLines.Add(description.Substring(i, remainingLength));
            }

            <center>
                @foreach (string line in descriptionLines)
                {
                    @Html.Raw(line)<br />
                }
            </center>
            <hr />
        }
        <section class="main-content-w3layouts-agileits">
            <div class="container">
                <div class="inner-sec">
                    <div class="left-blog-info-w3layouts-agileits text-left">
                        <div class="row">
                            @foreach (var product in Model.Products.OrderByDescending(p => p.CreateDate))
                            {
                                <div class="col-lg-4 card">
                                    <div class="card-body">
                                        @if (!string.IsNullOrEmpty(product.ImageUrl1))
                                        {
                                            <a href="/Urunler/UrunDetaylari?urunID=@product.ID">
                                                <img src="~/Resimler/@product.ImageUrl1" class="card-img-top img-fluid" alt="">
                                            </a>
                                        }
                                        <ul class="blog-icons my-4">
                                            <li>
                                                <a href="/Urunler/UrunDetaylari?urunID=@product.ID">
                                                    <i class="far fa-calendar-alt"></i> @(((DateTime)product.CreateDate).ToString("dd-MMM-yyyy"))
                                                </a>
                                            </li>
                                        </ul>
                                        <h5 class="card-title">
                                            <a href="/Urunler/UrunDetaylari?urunID=@product.ID">@product.Name</a>
                                        </h5>
                                        @if (!string.IsNullOrEmpty(product.Description))
                                        {
                                            if (product.Description.Length > 130)
                                            {
                                                <p class="card-text mb-3">@product.Description.Substring(0, 120)...</p>
                                            }
                                            else
                                            {
                                                <p class="card-text mb-3">@product.Description</p>
                                            }
                                        }
                                        <div class="d-flex justify-content-between">
                                            <a href="/Urunler/UrunDetaylari?urunID=@product.ID" class="btn btn-primary read-m">Ürünü Gör</a>
                                            <a href="/Urunler/HizliTeklif/@product.ID" class="btn btn-primary read-m" id="teklifButon">Hızlı Teklif</a>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <center><h1>DÜZENLEMEDE</h1></center>
    }
}


<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
    $(document).ready(function () {

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });

    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

</script>