@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model ProductsViewModel
@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var urunler in Model.Urunlers)
{
    if (urunler.Status == (UrunlerStatuses)1)
    {
        if (urunler.Banner == true)
        {
            @await Html.PartialAsync("_BannerPartial")
        }
        <br />

        <section class="main-content-w3layouts-agileits">
            @if (urunler.TitleStatus == true)
            {
                <center><h3 class="tittle">@urunler.Title</h3></center>
                if (urunler.SubtitleStatus == false)
                {
                    <hr />
                }
                else
                {
                    <center><h4>@urunler.Subtitle</h4></center>
                    <hr />
                }
            }
            @if (urunler.ContentStatus != false)
            {
                string description = urunler.Content;
                int maxLineLength = 128;
                List<string> descriptionLines = new List<string>();

                for (int i = 0; i < description.Length; i += maxLineLength)
                {
                    int remainingLength = Math.Min(maxLineLength, description.Length - i);
                    descriptionLines.Add(description.Substring(i, remainingLength));
                }

                <center>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <center>
                                        <p>
                                            @foreach (string line in descriptionLines)
                                            {
                                                @Html.Raw(line)
                                            }
                                        </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
                <hr />
            }
            <div class="container">
                <div class="inner-sec">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group list-group-flush">
                                @foreach (var category in Model.Categories)
                                {
                                    @foreach (var selected in Model.Category)
                                    {
                                        if (selected.Name == category.Name)
                                        {
                                            <a href="/Urunler/Kategori?kategoriID=@category.ID" class="list-group-item list-group-item-action active"> >> @category.Name</a>
                                        }
                                        else
                                        {
                                            if (category.Active != false)
                                            {
                                                <a href="/Urunler/Kategori?kategoriID=@category.ID" class="list-group-item list-group-item-action"> >> @category.Name</a>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-9">
                            @if (Model.Category == null)
                            {
                                <h4>BURASI DÜZENLENECEK</h4>
                            }
                            @foreach (var category in Model.Category)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="categoryInfo" style="margin-left: 10px;">
                                                    <h4 class="title">@category.Name</h4>
                                                    @if (category.Description != null)
                                                    {
                                                        <br />
                                                        <p>@category.Description</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <hr />
                            <div class="row">
                                @foreach (var product in Model.Products.OrderByDescending(p => p.CreateDate))
                                {
                                    <div class="col-lg-4 card" style="display: flex; flex-direction: column;">
                                        <div class="card-body">
                                            @if (!string.IsNullOrEmpty(product.ImageUrl1))
                                            {
                                                <a href="/Urunler/UrunDetaylari?urunID=@product.ID">
                                                    <img src="~/Resimler/@product.ImageUrl1" class="card-img-top img-fluid" alt="">
                                                </a>
                                            }
                                            <ul class="blog-icons my-4">
                                                <li>
                                                    <a href="/Urunler/UrunDetaylari?urunID=@product.ID" style="margin-left: 10px;">
                                                        <b>@product.Name </b>
                                                    </a>
                                                </li>
                                            </ul>
                                            @if (product.Category.TeklifStatus == true)
                                            {
                                                <a href="#" class="btn btn-primary read-m teklif-al"
                                                   style="width: 100%; margin-left: 0px; background: green;"
                                                   data-productid="@product.ID">
                                                    Teklif Al
                                                </a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <center><h1>DÜZENLEMEDE</h1></center>
    }
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function openTeklifAlModal(button) {
        var data = button.dataset;

        Swal.fire({
            title: 'Teklif Al',
            html: `
            <form id="teklifAlForm" method="post" action="/Urunler/SubmitOffer">

                    <input type="text" id="ProductID" name="ProductID" class="form-control" value="${data.productid}" required hidden />

                <div class="form-group">
                    <label for="Name">İsim :</label>
                    <input type="text" id="Name" name="Name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="LastName">Soyisim :</label>
                    <input type="text" id="LastName" name="LastName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="Mail">E-Mail :</label>
                    <input type="email" id="Mail" name="Mail" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">Tel. No :</label>
                    <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" required pattern="^[0-9]{10}$" title="Lütfen 10 haneli telefon numarası girin." />
                </div>
                <div class="form-group">
                    <label for="ProductPiece">Adet :</label>
                    <input type="number" id="ProductPiece" name="ProductPiece" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Teklif Al</button>
                </div>
            </form>
        `,
            showCloseButton: true,
            showCancelButton: false,
            showConfirmButton: false
        });
    }

    $(document).on('submit', 'form', function (e) {
        e.preventDefault();
        var form = $(this);

        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(),
            success: function (response) {
                Swal.fire({
                    title: 'İşlem Sonucu',
                    text: response,
                    icon: 'success',
                    timer: 1500,
                    showConfirmButton: false
                });
            },
            error: function (error) {
                alert("Başarısız");
            }
        });
    });


    $(document).on('click', '.teklif-al', function () {
        openTeklifAlModal(this);
    });

    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });

    $(document).ready(function () {

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });

    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

</script>