@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model ProductsViewModel
@{
    ViewData["Title"] = "Ürün Detayları";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yeşilvadi Metalurji</title>

    <link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/web/css/jquery.desoslide.css">
    <link href="~/web/css/styleurun.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/web/js/jquery.flexisel.js"></script>
    <script src="~/web/js/move-top.js"></script>
    <script src="~/web/js/easing.js"></script>
    <script src="~/web/js/jquery.desoslide.js"></script>
    <script src="~/web/js/bootstrap.js"></script>
    <style>
        .spacing-between {
            margin-bottom: 20px;
        }

        .left-blog-info-w3layouts-agileits img {
            width: 120%;
            margin-left: -10px;
        }
    </style>
</head>

<body>
    @await Component.InvokeAsync("Header")

    @foreach (var product in Model.Products)
    {
        <br />

        <h3 class="tittle">@product.Category.Name</h3>

        <section class="main-content-w3layouts-agileits">
            <div class="container">
                <div class="row">
                    <!--left-->
                    <div class="col-lg-7 left-blog-info-w3layouts-agileits text-left spacing-between">
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="/Urunler/UrunDetaylari?urunID=@product.ID">
                                        <img src="~/Resimler/@product.ImageUrl1" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i> @(((DateTime)product.CreateDate).ToString("dd-MMM-yyyy"))
                                            </a>
                                    </ul>
                                </div>
                            </div>

                            <div class="b-grid-bottom">
                                @if (product.ImageUrl2 != null)
                                {
                                    <hr />
                                    <h4>Ölçüler:</h4><br />
                                    <div class="blog_info_right_grid">
                                        <a href="/Urunler/UrunDetaylari?urunID=@product.ID">
                                            <img src="~/Resimler/@product.ImageUrl2" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                }
                            </div>

                        </div>

                    </div>
                    <!--right-->
                    <aside class="col-lg-5 agileits-w3ls-right-blog-con text-right spacing-between">
                        <div class="right-blog-info text-left">
                            <div class="tech-btm">
                                <h3>
                                    <a href="/Urunler/UrunDetaylari?urunID=@product.ID">@product.Name</a>
                                </h3>
                                <hr />
                                <h4>Ürün;</h4>
                                @{
                                    string description = product.Description;
                                    int maxLineLength = 54;
                                    List<string> descriptionLines = new List<string>();

                                    for (int i = 0; i < description.Length; i += maxLineLength)
                                    {
                                        int remainingLength = Math.Min(maxLineLength, description.Length - i);
                                        descriptionLines.Add(description.Substring(i, remainingLength));
                                    }
                                }

                                @foreach (string line in descriptionLines)
                                {
                                    <p>@line</p>
                                }
                                <br />

                                <a href="/Contact" class="btn btn-primary read-m">İletişime Geç</a>
                                <a href="/Urunler/TeklifVer?urunID=@product.ID" class="btn btn-primary read-m" id="teklifButon">Teklif Ver</a>


                            </div>
                        </div>

                    </aside>
                </div>
            </div>
        </section>


        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

                @if (!string.IsNullOrEmpty(product.ImageUrl3))
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                }
                @if (!string.IsNullOrEmpty(product.ImageUrl4))
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                }
                @if (!string.IsNullOrEmpty(product.ImageUrl5))
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                }
                @if (!string.IsNullOrEmpty(product.ImageUrl6))
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                }
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl1');">
                    <div class="carousel-caption">
                        <h3>@product.Name</h3>
                    </div>
                    <img src="~/Resimler/@product.ImageUrl1" class="d-block w-100" alt="Product Image">
                </div>
                @if (!string.IsNullOrEmpty(product.ImageUrl3))
                {
                    <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl3');">
                        <div class="carousel-caption">
                        </div>
                        <img src="~/Resimler/@product.ImageUrl3" class="d-block w-100" alt="Product Image">
                    </div>
                }
                @if (!string.IsNullOrEmpty(product.ImageUrl4))
                {
                    <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl4');">
                        <div class="carousel-caption">
                        </div>
                        <img src="~/Resimler/@product.ImageUrl4" class="d-block w-100" alt="Product Image">
                    </div>
                }
                @if (!string.IsNullOrEmpty(product.ImageUrl5))
                {
                    <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl5');">
                        <div class="carousel-caption">
                        </div>
                        <img src="~/Resimler/@product.ImageUrl5" class="d-block w-100" alt="Product Image">
                    </div>
                }
                @if (!string.IsNullOrEmpty(product.ImageUrl6))
                {
                    <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl6');">
                        <div class="carousel-caption">
                        </div>
                        <img src="~/Resimler/@product.ImageUrl6" class="d-block w-100" alt="Product Image">
                    </div>
                }
            </div>



            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
            </a>
        </div>
    }



    @await Html.PartialAsync("_FooterPartial")




    <script>
        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
        $(window).load(function () {
            $("#flexiselDemo2").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

        $(document).ready(function () {

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
        $(document).ready(function () {


            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };



        });
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>


</body>

</html>