@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model ProductsViewModel
@{
    ViewData["Title"] = "Ürün Detayları";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yeşilvadi Metalurji</title>

    <link rel="icon" href="~/Resimler/favicon.png" type="image/x-icon" />
    <link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/web/css/jquery.desoslide.css">
    <link href="~/web/css/styleurun.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/web/js/jquery.flexisel.js"></script>
    <script src="~/web/js/move-top.js"></script>
    <script src="~/web/js/easing.js"></script>
    <script src="~/web/js/jquery.desoslide.js"></script>
    <script src="~/web/js/bootstrap.js"></script>
    <style>
        .spacing-between {
            margin-bottom: 20px;
        }

        .left-blog-info-w3layouts-agileits img {
            width: 120%;
            margin-left: -10px;
        }
    </style>
</head>

<body>
    @await Component.InvokeAsync("Header")

    @foreach (var product in Model.Products)
    {
        if (product.Category.Active == true && product.Active == true)
        {
            <br />

            <h3 class="tittle">@product.Category.Name</h3>


            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="blog_info_left_grid">
                                <a href="/Urunler/UrunDetaylari?urunID=@product.ID">
                                    <img src="~/Resimler/@product.ImageUrl1" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="blog-info-middle">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @(((DateTime)product.CreateDate).ToString("dd-MMM-yyyy"))
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <h3>
                                <a href="/Urunler/UrunDetaylari?urunID=@product.ID">@product.Name</a>
                            </h3>
                            <hr />
                            <h4>Ürün;</h4>
                            @{
                                string description = product.Description;
                                int maxLineLength = 33;
                                List<string> descriptionLines = new List<string>();

                                for (int i = 0; i < description.Length; i += maxLineLength)
                                {
                                    int remainingLength = Math.Min(maxLineLength, description.Length - i);
                                    descriptionLines.Add(description.Substring(i, remainingLength));
                                }
                            }

                                <p>@product.Description</p>
                            <br />

                            @foreach (var category in Model.Category)
                            {
                                @if (product.Category.TeklifStatus == true)
                                {
                                    <a href="#" class="btn btn-primary read-m teklif-al" style="width: 49%; margin-left: 0px; background: green; " data-productid="@product.ID">Teklif Al</a>

                                    <a href="/Contact" class="btn btn-primary read-m" style="width: 49%; margin-left: 0px;">İletişime Geç</a>
                                }
                                else
                                {
                                    <a href="/Contact" class="btn btn-primary read-m">İletişime Geç</a>
                                }
                            }
                        </div>
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-10">
                            @if (product.ImageUrl2 != null)
                            {
                                <hr />
                                <h4>Ölçüler:</h4><br />
                                <div class="blog_info_right_grid">
                                    <a href="/Urunler/UrunDetaylari?urunID=@product.ID">
                                        <img src="~/Resimler/@product.ImageUrl2" class="img-fluid" alt="">
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="col-sm-1"> </div>
                    </div>

                </div>
            </div>



            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

                    @if (!string.IsNullOrEmpty(product.ImageUrl3))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    }
                    @if (!string.IsNullOrEmpty(product.ImageUrl4))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    }
                    @if (!string.IsNullOrEmpty(product.ImageUrl5))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    }
                    @if (!string.IsNullOrEmpty(product.ImageUrl6))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl1');">
                        <img src="~/Resimler/@product.ImageUrl1" class="d-block w-100 img-fluid" alt="Product Image">
                    </div>
                    @if (!string.IsNullOrEmpty(product.ImageUrl3))
                    {
                        <div class="carousel-item item2" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl3');">
                            <img src="~/Resimler/@product.ImageUrl3" class="d-block w-100 img-fluid" alt="Product Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(product.ImageUrl4))
                    {
                        <div class="carousel-item item3" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl4');">
                            <img src="~/Resimler/@product.ImageUrl4" class="d-block w-100 img-fluid" alt="Product Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(product.ImageUrl5))
                    {
                        <div class="carousel-item item4" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl5');">
                            <img src="~/Resimler/@product.ImageUrl5" class="d-block w-100 img-fluid" alt="Product Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(product.ImageUrl6))
                    {
                        <div class="carousel-item item5" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@product.ImageUrl6');">
                            <img src="~/Resimler/@product.ImageUrl6" class="d-block w-100 img-fluid" alt="Product Image">
                        </div>
                    }
                </div>



                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Önceki</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Sonraki</span>
                </a>
            </div>
        }
        else
        {
            <br />
            <center><h2>DÜZENLEMEDE</h2></center>
        }
    }
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    @await Html.PartialAsync("_FooterPartial")




<script>
        function openTeklifAlModal(button) {
        var data = button.dataset;

        Swal.fire({
            title: 'Teklif Al',
            html: `
            <form id="teklifAlForm" method="post" action="/Urunler/SubmitOffer">

                    <input type="text" id="ProductID" name="ProductID" class="form-control" value="${data.productid}" required hidden />

                <div class="form-group">
                    <label for="Name">İsim :</label>
                    <input type="text" id="Name" name="Name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="LastName">Soyisim :</label>
                    <input type="text" id="LastName" name="LastName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="Mail">E-Mail :</label>
                    <input type="email" id="Mail" name="Mail" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">Tel. No :</label>
                    <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" required pattern="^[0-9]{10}$" title="Lütfen 10 haneli telefon numarası girin." />
                </div>
                <div class="form-group">
                    <label for="ProductPiece">Adet :</label>
                    <input type="number" id="ProductPiece" name="ProductPiece" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Teklif Al</button>
                </div>
            </form>
        `,
            showCloseButton: true,
            showCancelButton: false,
            showConfirmButton: false
        });
    }



    $(document).on('submit', 'form', function (e) {
        e.preventDefault();
        var form = $(this);

        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(),
            success: function (response) {
                Swal.fire({
                    title: 'İşlem Sonucu',
                    text: response,
                    icon: 'success',
                    timer: 1500,
                    showConfirmButton: false
                });
            },
            error: function (error) {
                alert("Başarısız");
            }
        });
    });


    $(document).on('click', '.teklif-al', function () {
        openTeklifAlModal(this);
    });


        $('#demo1_thumbs').desoSlide({
            main: {
                container: '#demo1_main_image',
                cssClass: 'img-responsive'
            },
            effect: 'sideFade',
            caption: true
        });
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
        $(window).load(function () {
            $("#flexiselDemo2").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

        $(document).ready(function () {

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
        $(document).ready(function () {


            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };



        });
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
</script>




</body>

</html>