@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model AdminsViewModel
@{
    ViewData["Title"] = "Adminler";
    Layout = "~/Views/Shared/_AdminTest.cshtml";
}

<h1>Admin Listesi</h1>

@await Html.PartialAsync("_ScriptImports")

@using (Html.BeginForm("Filter", "Admin", FormMethod.Post, new { id = "filterForm" }))
{

    var statusList = new List<SelectListItem>
{
        new SelectListItem { Value = "0", Text = "TÜMÜ" },
        new SelectListItem { Value = "1", Text = "AKTİF" },
        new SelectListItem { Value = "2", Text = "KALDIRILDI" },
    };
    var activeList = new List<SelectListItem>
{
        new SelectListItem { Value = "0", Text = "TÜMÜ" },
        new SelectListItem { Value = "1", Text = "AKTİF" },
        new SelectListItem { Value = "2", Text = "AKTİF DEĞİL" },
    };

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-filter"></i>
            Filtrele
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <dt>@Html.LabelFor(m => m.FilterDto.Active, "Aktiflik:")</dt>
                @Html.DropDownListFor(m => m.FilterDto.Active, activeList, new { @class = "form-control" })
            </div>
            <div class="col-sm-3">
                <dt>@Html.LabelFor(m => m.FilterDto.Status, "Durum:")</dt>
                @Html.DropDownListFor(m => m.FilterDto.Status, statusList, new { @class = "form-control" })
            </div>
            <div class="col-sm-3">
                <dt>@Html.LabelFor(m => m.FilterDto.UserName, "Kullanıcı Adı:")</dt>
                @Html.TextBoxFor(m => m.FilterDto.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
            </div>
            <div class="col-sm-3">
                <dt>@Html.LabelFor(m => m.FilterDto.Password, "Şifre:")</dt>
                @Html.TextBoxFor(m => m.FilterDto.Password, new { @class = "form-control", placeholder = "Şifre" })
            </div>
        </div>
    </div>
</div>
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-cubes"></i>
            Adminler
        </h3>
    </div>

    <div class="card-body">

        <button class="btn btn-primary" onclick="openYeniAdminModal()">Yeni Admin</button>
        <br />

        <div id="adminTable" class="table-responsive">
            <table id="adminGrid" class="table table-bordered table-striped"></table>
            <div id="adminGridPager"></div>
        </div>

    </div>

</div>


<script>
    var firstModal = null;

    $(document).ready(function () {
        filterAdmins();

        $('#filterForm select, #filterForm input[type="text"]').on('change', function () {
            filterAdmins();
        });
    });

    function filterAdmins() {
        var formData = $('#filterForm').serialize();
        console.log(formData);

        var adminGrid = $('#adminGrid');

        $.ajax({
            url: '@Url.Action("Filter", "Admin")',
            type: 'POST',
            data: formData,
            dataType: 'json',
            success: function (response) {
                var data = response;
                console.log(data);
                showDatas(data);
            },
            error: function (error) {
                console.log("Listeleme esnasında hata oluştu: ", error);
            }
        });
    }

    function passwordFormatter(cellValue, options, rowObject) {
        return '********';
    }

    function showDatas(data) {
        var adminGrid = $('#adminGrid');

        if (adminGrid.length) {
            adminGrid.jqGrid('GridUnload');

            adminGrid.jqGrid({
                data: data,
                colModel: [
                    { name: 'id', label: 'ID', width: 50 },
                    { name: 'username', label: 'Kullanıcı Adı', width: 255 },
                    { name: 'password', label: 'Şifre', width: 255, formatter: passwordFormatter },
                    {
                        name: 'status', label: 'Durum', width: 260,
                        formatter: function (cellValue) {
                            switch (cellValue) {
                                case 1:
                                    return 'AKTİF';
                                case 2:
                                    return 'KALDIRILDI';
                                default:
                                    return '';
                            }
                        }
                    },
                    {
                        name: 'active', label: 'AKTİFLİK', width: 260,
                        formatter: function (cellValue) {
                            switch (cellValue) {
                                case true:
                                    return 'AKTİF';
                                case false:
                                    return 'AKTİF DEĞİL';
                                default:
                                    return '';
                            }
                        }
                    },
                    {
                        name: 'actions', label: '', width: 210,
                        formatter: function (cellValue, options, rowObject) {
                            if (rowObject.status === 1) {
                                var buttons = '<button class="btn btn-primary open-edit-modal" ' +
                                    'data-adminid="' + rowObject.id + '" ' +
                                    'data-adminusername="' + rowObject.username + '" ' +
                                    'data-adminpassword="' + rowObject.password + '" ' +
                                    'data-adminstatus="' + rowObject.status + '" ' +
                                    'data-adminactive="' + rowObject.active + '">Düzenle</button>' +
                                    '<button class="btn btn-warning open-delete-modal" ' +
                                    'data-adminid="' + rowObject.id + '">Kaldır</button>';
                            }
                            if (rowObject.status === 2) {
                                var buttons = '<button class="btn btn-primary open-edit-modal" ' +
                                    'data-adminid="' + rowObject.id + '" ' +
                                    'data-adminusername="' + rowObject.username + '" ' +
                                    'data-adminpassword="' + rowObject.password + '" ' +
                                    'data-adminstatus="' + rowObject.status + '" ' +
                                    'data-adminactive="' + rowObject.active + '">Düzenle</button>' +
                                    '<button class="btn btn-success open-approve-modal" ' +
                                    'data-adminid="' + rowObject.id + '">Onayla</button>';
                            }
                            return buttons;
                        }
                    }
                ],
                pager: '#adminGridPager',
                rowNum: 10,
                rowList: [10, 20, 30, 40, 50],
                sortname: 'id',
                viewrecords: true,
                autoheight: true,
                autoWidth: true,
                responsive: true,

            });
        }
    }





    function openApproveAdminModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
        title: 'Admin Onayla',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("ApproveAdmin", "Admin")">

                <div class="form-group">
                    <label>Onaylamak istiyor musunuz ?</label>
                </div>

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.adminid}" required/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Onayla" class="btn btn-primary w-100" />
                </div>

            </form>
        `
    });
    }

    function openDeleteAdminModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
        title: 'Admin Sil',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("RemoveAdmin", "Admin")">

                <div class="form-group">
                    <label>Kaldırmak istiyor musunuz ?</label>
                </div>

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.adminid}" required/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Kaldır" class="btn btn-warning w-100" />
                </div>

            </form>
        `
    });
    }

    function openEditAdminModal(button) {
        var data = button.dataset;
        console.log(data.adminactive);
        firstModal = $.dialog({
        title: 'Admin Düzenle',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("AddEditAdmin", "Admin")">

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.adminid}" required hidden />
                </div>

                <div class="form-group">
                    <label for="Name">Kullanıcı Adı:</label>
                    <input type="text" id="UserName" name="UserName" class="form-control" value="${data.adminusername}" required />
                </div>

                <div class="form-group">
                    <label for="OldPassword">Eski Şifre:</label>
                    <input type="password" id="OldPassword" name="OldPassword" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="NewPassword">Yeni Şifre:</label>
                    <input type="password" id="NewPassword" name="NewPassword" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="ConfirmNewPassword">Yeni Şifre (Tekrar):</label>
                    <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="Status">Durum :</label>
                    <select id="Status" name="Status" class="form-control" data="${data.adminstatus}" required>
                        <option value="1" ${data.adminstatus == "1" ? 'selected' : ''}>AKTİF</option>
                        <option value="2" ${data.adminstatus == "2" ? 'selected' : ''}>KALDIRILDI</option>
                    </select>
                </div>

                <div class="form-group">
                    <select id="Active" name="Active" class="form-control" required>
                        <option value="1" ${data.adminactive == 'true' ? 'selected' : ''}>AKTİF</option>
                        <option value="2" ${data.adminactive == 'false' ? 'selected' : ''}>AKTİF DEĞİL</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Düzenle" class="btn btn-primary w-100" />
                </div>

            </form>
        `
    });
}

    function openYeniAdminModal() {
        firstModal = $.dialog({
            title: 'Yeni admin oluştur',
            content: `

<form method="post" action="@Url.Action("AddEditAdmin", "Admin")">
    <div class="form-group">
        <label for="UserName">Kullanıcı Adı:</label>
        <input type="text" id="UserName" name="UserName" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="OldPassword">Eski Şifre:</label>
        <input type="password" id="OldPassword" name="OldPassword" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="NewPassword">Yeni Şifre:</label>
        <input type="password" id="NewPassword" name="NewPassword" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="ConfirmNewPassword">Yeni Şifre (Tekrar):</label>
        <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Status">Durum :</label>
        <select id="Status" name="Status" class="form-control" required>
            <option value="1">AKTİF</option>
            <option value="2">KALDIRILDI</option>
        </select>
    </div>

    <div class="form-group">
        <select id="Active" name="Active" class="form-control" required>
            <option value="1">AKTİF</option>
            <option value="2">AKTİF DEĞİL</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Oluştur" class="btn btn-primary w-100" />
    </div>

</form>

`
        });

    }


    $(document).on('click', '.open-delete-modal', function () {
        openDeleteAdminModal(this);
    });

    $(document).on('click', '.open-approve-modal', function () {
        openApproveAdminModal(this);
    });

    $(document).on('click', '.open-edit-modal', function () {
        openEditAdminModal(this);
    });

    $(document).on('click', '#yeniAdminButton', function () {
        openYeniAdminModal();
    });


    $(document).on('submit', 'form', function (e) {
        e.preventDefault();
        var form = $(this);

        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(),
            success: function (response) {
                var message = response;
                mesajDialog = $.dialog({
                    title: 'İşlem Sonucu',
                    content: message,
                    closeButton: false
                });
                setTimeout(function () {
                    mesajDialog.close();
                    if (firstModal) {
                        firstModal.close();
                    }
                    filterAdmins();
                }, 1500);
            },
            error: function (error) {
                alert("Başarısız");
            }
        });
    });



</script>


