@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model HomePageViewModel
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var homepage in Model.HomePage)
{
    if (homepage.Status == (HomePageStatuses)1)
    {
        if (homepage.Image == true)
        {
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

                    @if (!string.IsNullOrEmpty(homepage.ImageUrl2))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl3))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl4))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl5))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl6))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl7))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl8))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl9))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl10))
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl1');">
                        <div class="carousel-caption">
                        </div>
                        <img src="~/Resimler/@homepage.ImageUrl1" class="d-block w-100" alt="about Image">
                    </div>
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl2))
                    {
                        <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl2');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@homepage.ImageUrl2" class="d-block w-100" alt="about Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl3))
                    {
                        <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl3');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@homepage.ImageUrl3" class="d-block w-100" alt="about Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl4))
                    {
                        <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl4');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@homepage.ImageUrl4" class="d-block w-100" alt="about Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl5))
                    {
                        <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl5');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@homepage.ImageUrl5" class="d-block w-100" alt="about Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl6))
                    {
                        <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl6');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@homepage.ImageUrl6" class="d-block w-100" alt="about Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl7))
                    {
                        <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl7');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@homepage.ImageUrl7" class="d-block w-100" alt="about Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl8))
                    {
                        <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl8');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@homepage.ImageUrl8" class="d-block w-100" alt="about Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl9))
                    {
                        <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl9');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@homepage.ImageUrl9" class="d-block w-100" alt="about Image">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(homepage.ImageUrl10))
                    {
                        <div class="carousel-item" style="background-image: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('~/Resimler/@homepage.ImageUrl10');">
                            <div class="carousel-caption">
                            </div>
                            <img src="~/Resimler/@homepage.ImageUrl10" class="d-block w-100" alt="about Image">
                        </div>
                    }
                </div>



                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Önceki</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Sonraki</span>
                </a>
            </div>

            <br />
        }

        if (homepage.TitleStatus == true)
        {
            <center><h3 class="tittle">@homepage.Title</h3></center>
            if (homepage.SubtitleStatus == false)
            {
                <hr />
            }
            else
            {
                <center><h4>@homepage.Subtitle</h4></center>
                <hr />
            }
        }
        @if (homepage.ContentStatus != false)
        {
            int maxLineLength = 64;
            string description = homepage.Content;
            List<string> descriptionLines = new List<string>();

            for (int i = 0; i < description.Length; i += maxLineLength)
            {
                int remainingLength = Math.Min(maxLineLength, description.Length - i);
                descriptionLines.Add(description.Substring(i, remainingLength));
            }


            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @if (homepage.Content != null || homepage.HakkimizdaFoto1 != null || homepage.HakkimizdaFoto2 != null)
                        {
                            maxLineLength = 64;


                            @if (homepage.Content != null)
                            {
                                <div class="col-sm-6">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        @foreach (string line in descriptionLines)
                                        {
                                            @Html.Raw(line)
                                        }
                                        <div class="read">
                                            <a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                    </div>
                                </div>
                            }
                            @if (homepage.HakkimizdaFoto1 != null && homepage.HakkimizdaFoto2 != null)
                            {
                                <div class="col-sm-3">
                                    <img src="/Resimler/@homepage.HakkimizdaFoto1" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                                <div class="col-sm-3">
                                    <img src="/Resimler/@homepage.HakkimizdaFoto2" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                            }
                            @if (homepage.HakkimizdaFoto1 != null && homepage.HakkimizdaFoto2 == null)
                            {
                                <div class="col-sm-6">
                                    <img src="/Resimler/@homepage.HakkimizdaFoto1" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                            }
                            @if (homepage.HakkimizdaFoto2 != null && homepage.HakkimizdaFoto1 == null)
                            {
                                <div class="col-sm-6">
                                    <img src="/Resimler/@homepage.HakkimizdaFoto2" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                            }
                        }
                        else
                        {
                            maxLineLength = 120;
                            @if (homepage.Content != null)
                            {
                                <div class="col-sm-12">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8">
                                        @foreach (string line in descriptionLines)
                                        {
                                            @Html.Raw(line)
                                        }
                                        <div class="read">
                                            <a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
            @if (homepage.SayisalVeriYazisi != null)
            {
                <br />
                <br />
                <div class="card" style="background-color: #F5F5DC;">
                    <div class="card-body">
                        <div class="row">
                            @if (homepage.SayisalVeriYazisi != null)
                            {
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">@Html.Raw(@homepage.SayisalVeriYazisi)</div>
                                <div class="col-sm-1"></div>
                            }
                            @if (homepage.SayisalVeri1 != null)
                            {
                                <div class="col-sm-2">@Html.Raw(@homepage.SayisalVeri1)</div>
                                @if (homepage.SayisalVeri2 == null)
                                {
                                    <div class="col-sm-3"></div>
                                }
                            }
                            @if (homepage.SayisalVeri2 != null)
                            {
                                <div class="col-sm-2">@Html.Raw(@homepage.SayisalVeri2)</div>
                                @if (homepage.SayisalVeri1 == null)
                                {
                                    <div class="col-sm-3"></div>
                                }
                            }
                            @if (homepage.SayisalVeri1 != null || homepage.SayisalVeri2 != null)
                            {
                                <div class="col-sm-1"></div>
                            }
                        </div>
                    </div>
                </div>
                <br />
                <br />
            }

            @if (homepage.HizmetlerimizFoto1 != null || homepage.HizmetlerimizFoto2 != null || homepage.HizmetlerimizFoto3 != null)
            {
                <div class="card">
                    <div class="card-title">
                        <center>
                            @if (homepage.Hizmetlerimiz != null)
                            {
                                <h3>
                                    @homepage.Hizmetlerimiz
                                </h3>
                            }
                            else
                            {
                                <h3>
                                    Hizmetlerimiz
                                </h3>
                            }
                        </center>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @if (homepage.HizmetlerimizFoto1 != null)
                            {
                                <div class="col-sm-4">
                                    <img src="/Resimler/@homepage.HizmetlerimizFoto1" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                    <hr />
                                    @if (homepage.Aciklama1 != null)
                                    {
                                        <p>
                                            @Html.Raw(@homepage.Aciklama1)
                                        </p>
                                    }
                                    else
                                    {
                                        <p>Açıklama 1</p>
                                    }
                                </div>
                            }
                            @if (homepage.HizmetlerimizFoto2 != null)
                            {
                                <div class="col-sm-4">
                                    <img src="/Resimler/@homepage.HizmetlerimizFoto2" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                    <hr />
                                    @if (homepage.Aciklama2 != null)
                                    {

                                        <p>
                                            @Html.Raw(@homepage.Aciklama2)
                                        </p>
                                    }
                                    else
                                    {
                                        <p>Açıklama 2</p>
                                    }
                                </div>
                            }
                            @if (homepage.HizmetlerimizFoto3 != null)
                            {
                                <div class="col-sm-4">
                                    <img src="/Resimler/@homepage.HizmetlerimizFoto3" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                    <hr />
                                    @if (homepage.Aciklama3 != null)
                                    {

                                        <p>
                                            @Html.Raw(@homepage.Aciklama3)
                                        </p>
                                    }
                                    else
                                    {
                                        <p>Açıklama 3</p>
                                    }
                                </div>
                            }
                        </div>

                    </div>
                </div>
                <br />
                <br />
            }

            @if (homepage.IsOrtaklarimizFoto1 != null || homepage.IsOrtaklarimizFoto2 != null || homepage.IsOrtaklarimizFoto3 != null || homepage.IsOrtaklarimizFoto4 != null || homepage.IsOrtaklarimizFoto5 != null || homepage.IsOrtaklarimizFoto6 != null)
            {
                <div class="card" style="background-color: #F5F5DC;">
                    <br />
                    <div class="card-title">
                        <center>
                            @if (homepage.IsOrtaklarimiz != null)
                            {

                                <h3>
                                    @homepage.IsOrtaklarimiz
                                </h3>
                            }
                            else
                            {
                                <h3>
                                    İş Ortaklarımız
                                </h3>
                            }
                        </center>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @if (homepage.IsOrtaklarimizFoto1 != null)
                            {
                                <div class="col-sm-4">
                                    <img src="/Resimler/@homepage.IsOrtaklarimizFoto1" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                            }
                            @if (homepage.IsOrtaklarimizFoto2 != null)
                            {
                                <div class="col-sm-4">
                                    <img src="/Resimler/@homepage.IsOrtaklarimizFoto2" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                            }
                            @if (homepage.IsOrtaklarimizFoto3 != null)
                            {
                                <div class="col-sm-4">
                                    <img src="/Resimler/@homepage.IsOrtaklarimizFoto3" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                            }
                            @if (homepage.IsOrtaklarimizFoto4 != null)
                            {
                                <div class="col-sm-4">
                                    <img src="/Resimler/@homepage.IsOrtaklarimizFoto4" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                            }
                            @if (homepage.IsOrtaklarimizFoto5 != null)
                            {
                                <div class="col-sm-4">
                                    <img src="/Resimler/@homepage.IsOrtaklarimizFoto5" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                            }
                            @if (homepage.IsOrtaklarimizFoto6 != null)
                            {
                                <div class="col-sm-4">
                                    <img src="/Resimler/@homepage.IsOrtaklarimizFoto6" alt="Image" class="img-fluid" style="border: 5px solid transparent; transition: border 0.5s ease-in-out;"
                                         onmouseover="this.style.border = '5px solid green';"
                                         onmouseout="this.style.border = '5px solid transparent';">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }






    }
    else
    {
        <h1>DÜZENLEMEDE</h1>
    }


}