@using Entity.Concrete
@using Yesil_Vadi_Metalurji.Dto
@using System.ComponentModel
@using Newtonsoft.Json
@model OffersViewModel
@{
    ViewData["Title"] = "Teklifler";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Teklif Listesi</h1>

@await Html.PartialAsync("_ScriptImports")

@using (Html.BeginForm("Filter", "Offer", FormMethod.Post, new { id = "filterForm" }))
{
    var statusList = new List<SelectListItem>
{
        new SelectListItem { Value = "0", Text = "TÜMÜ" },
        new SelectListItem { Value = "1", Text = "TEKLİFTE" },
        new SelectListItem { Value = "2", Text = "KALDIRILDI" },
        new SelectListItem { Value = "3", Text = "TEKLİF İPTAL EDİLDİ" },
        new SelectListItem { Value = "4", Text = "SİPARİŞE GEÇİLDİ" },
        new SelectListItem { Value = "5", Text = "BEKLEMEDE" }
    };

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-filter"></i>
            Filtrele
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <dt>@Html.LabelFor(m => m.FilterDto.Status, "Durum:")</dt>
                @Html.DropDownListFor(m => m.FilterDto.Status, statusList, new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <dt>@Html.LabelFor(m => m.FilterDto.Name, "İsim:")</dt>
                @Html.TextBoxFor(m => m.FilterDto.Name, new { @class = "form-control", placeholder = "İsim" })
            </div>
            <div class="col-sm-2">
                <dt>@Html.LabelFor(m => m.FilterDto.LastName, "Soyisim:")</dt>
                @Html.TextBoxFor(m => m.FilterDto.LastName, new { @class = "form-control", placeholder = "Soyisim" })
            </div>
            <div class="col-sm-3">
                <dt>@Html.LabelFor(m => m.FilterDto.Mail, "E-Mail:")</dt>
                @Html.TextBoxFor(m => m.FilterDto.Mail, new { @class = "form-control", placeholder = "E-Mail" })
            </div>
            <div class="col-sm-3">
                <dt>@Html.LabelFor(m => m.FilterDto.PhoneNumber, "Tel. No:")</dt>
                @Html.TextBoxFor(m => m.FilterDto.PhoneNumber, new { @class = "form-control", placeholder = "Tel. No" })
            </div>
            <div class="col-sm-4">
                <dt>@Html.LabelFor(m => m.FilterDto.TotalPrice, "Toplam Fiyat:")</dt>
                @Html.TextBoxFor(m => m.FilterDto.TotalPrice, new { @class = "form-control", placeholder = "Toplam Fiyat", type = "number", step = "0.01" })
            </div>
            <div class="col-sm-4">
                <dt>@Html.LabelFor(m => m.FilterDto.TotalPiece, "Toplam Adet:")</dt>
                @Html.TextBoxFor(m => m.FilterDto.TotalPiece, new { @class = "form-control", placeholder = "Toplam Adet", type = "number" })
            </div>
            <div class="col-sm-4">
                <dt>@Html.LabelFor(m => m.FilterDto.ProductPiece, "Ürün Adeti:")</dt>
                @Html.TextBoxFor(m => m.FilterDto.ProductPiece, new { @class = "form-control", placeholder = "Ürün Adeti", type = "number" })
            </div>
        </div>
    </div>
</div>
}



<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-cubes"></i>
            Teklifler
        </h3>
    </div>

    <div class="card-body">
        <button id="openYeniTeklifModalButton" class="btn btn-primary">Yeni Teklif</button>
        <br />

        <div id="offerTable" class="table-responsive">
            <table id="offerGrid" class="table table-bordered table-striped"></table>
            <div id="offerGridPager"></div>
        </div>

    </div>

</div>



<script>
    $(document).ready(function () {
        filterOffers();
        $('#filterForm select, #filterForm input[type="text"], #filterForm input[type="number"]').on('change', function () {
            filterOffers();
        });
    });

    var firstModal = null;

    var dropdownOptions = {};

    var adet;
    var products = [];

    function addNewProductDropdown() {
        var newProductButton = document.getElementById("newProductButton");
        var removeProductButtonContainer = document.getElementById("removeProductButtonContainer");
        var dropdownContainer = document.getElementById("ProductDropdownContainer");

        adet++;
        var newProductHTML = `
            <div class="form-group">
              <label for="Product${adet}">Ürün ${adet} :</label>
              <select id="Product${adet}" name="Product${adet}" class="form-control" required>
                <option value="">Seçiniz</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ProductPrice${adet}">Fiyat ${adet} :</label>
              <input type="number" id="ProductPrice${adet}" name="ProductPrice${adet}" class="form-control" step="0.01" required />
            </div>
            <div class="form-group">
              <label for="ProductPiece${adet}">Adet ${adet} :</label>
              <input type="number" id="ProductPiece${adet}" name="ProductPiece${adet}" class="form-control" required />
            </div>
            `;


        var newDiv = document.createElement("div");
        newDiv.innerHTML = newProductHTML;
        dropdownContainer.appendChild(newDiv);

        var newProductDropdown = document.getElementById(`Product${adet}`);
        var newProductPrice = document.getElementById(`ProductPrice${adet}`);

        if (adet > 0) {
            removeProductButtonContainer.style.display = "block";
        }


        updateProductDropdowns();

        getProductOptions(newProductDropdown, newProductPrice);
    }

    function getProductOptions(productDropdown, productPrice) {
        var adetValue = adet;
        var adetInput = document.getElementById('adet');

        if (adetInput) {
            adetInput.value = adetValue;
        }


        if (productDropdown) {
                if (dropdownOptions['allProducts']) {
                    productDropdown.innerHTML = dropdownOptions['allProducts'];
                } else {
                    $.ajax({
                        url: "/Offer/GetProducts",
                        method: "GET",
                        success: function (response) {
                            var optionItems = "";
                            products = response;

                            if (products && products.length > 0) {
                                products.forEach(function (product) {
                                    optionItems += `<option value="${product.id}">${product.name}</option>`;
                                });
                            }

                            dropdownOptions['allProducts'] = `<option value="">Seçiniz</option>` + optionItems;

                            productDropdown.innerHTML = dropdownOptions['allProducts'];
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                }

            productDropdown.addEventListener('change', function () {
                var selectedProductId = productDropdown.value;
                productDropdown.value = selectedProductId;

                var selectedProduct = products.find(function (product) {
                    return product.id == selectedProductId;
                    productDropdown.value = product.name;
                });

                if (selectedProduct) {
                    productPrice.value = selectedProduct.price;
                }
            });

        }
    }


    function updateProductDropdowns() {
        var productDropdownContainer = document.getElementById("ProductDropdownContainer");

        if (adet && productDropdownContainer) {
            for (var i = 0; i < adet; i++) {
                var productDropdown = document.getElementById(`Product${i + 1}`);
                var productPrice = document.getElementById(`ProductPrice${i + 1}`);
                getProductOptions(productDropdown, productPrice);
            }
        }

        var adetValue = adet;
        var adetInput = document.getElementById('adet');
        adetInput.value = adetValue;
    }


    function removeLastProductDropdown() {

        if (adet > 0) {
            adet--;
            var dropdownContainer = document.getElementById("ProductDropdownContainer");
            var lastDropdownGroup = dropdownContainer.lastElementChild;
            if (lastDropdownGroup) {
                dropdownContainer.removeChild(lastDropdownGroup);
            }
            updateProductDropdowns();
        }
        if (adet === 0) {
            var removeProductButtonContainer = document.getElementById("removeProductButtonContainer");
            removeProductButtonContainer.style.display = "none";
        }
    }

    function openYeniTeklifModal() {
        adet = 0;

        var dropdownHTML = '';


            firstModal = $.dialog({
                title: 'Teklif Oluştur',
                content: `
                    <form id="offerForm" method="post" action="@Url.Action("AddOffer", "Offer")">

                    <input type="hidden" name="adet" id="adet" value="${adet}" />

                    <div class="form-group">
                      <button id="newProductButton" class="btn btn-primary w-100" type="button" onclick="addNewProductDropdown()">Yeni Ürün</button>
                    </div>

                    <div class="form-group" id="removeProductButtonContainer" style="display: none;">
                        <button class="btn btn-danger w-100" type="button" onclick="removeLastProductDropdown()">Ürün Kaldır</button>
                    </div>

                     <div class="form-group">
                        <label for="Name">İsim</label>
                        <input type="text" id="Name" name="Name" class="form-control" required />
                    </div>

                     <div class="form-group">
                        <label for="Lastname">Soyisim</label>
                        <input type="text" id="Lastname" name="Lastname" class="form-control" required />
                    </div>

                     <div class="form-group">
                        <label for="Mail">E-Mail</label>
                        <input type="email" id="Mail" name="Mail" class="form-control" required />
                    </div>

                     <div class="form-group">
                        <label for="Phonenumber">Telefon Numarası</label>
                        <input type="text" id="Phonenumber" name="Phonenumber" class="form-control" required pattern="^[0-9]{10}$" title="Lütfen 10 haneli telefon numarası girin." />
                    </div>

                    <div id="ProductDropdownContainer">${dropdownHTML}</div>

                        <div class="form-group">
                            <select id="Status" name="Status" class="form-control" required hidden>
                                <option value="0">Beklemede</option>
                                <option value="1">Teklifte</option>
                                <option value="2">KALDIRILDI</option>
                                <option value="3">Teklif İptal Edildi</option>
                                <option value="4">Siparişe Geçildi</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select id="Active" name="Active" class="form-control" required hidden>
                                <option value="1">AKTİF</option>
                                <option value="2">AKTİF DEĞİL</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input id="createTeklif" type="submit" value="Oluştur" class="btn btn-primary w-100" />
                        </div>
                    </form>
                `
            });

        firstModal.onOpen(function () {
            updateProductDropdowns();
        });
    }





    function filterOffers() {
        var formData = $('#filterForm').serialize();

        var offerGrid = $('#offerGrid');

        $.ajax({
            url: '@Url.Action("Filter", "Offer")',
            type: 'POST',
            data: formData,
            dataType: 'json',
            success: function (response) {
                var data = response;
                showDatas(data);
            },
            error: function (error) {
                console.log("Listeleme esnasında hata oluştu: ", error);
            }
        });
    }

    function showDatas(data) {
        var offerGrid = $('#offerGrid');

        if (offerGrid.length) {
            offerGrid.jqGrid('GridUnload');

            offerGrid.jqGrid({
                data: data,
                colModel: [
                    { name: 'name', label: 'İsim', width: 100 },
                    { name: 'lastname', label: 'Soyisim', width: 100 },
                    { name: 'mail', label: 'E-Mail', width: 120 },
                    { name: 'phonenumber', label: 'Telefon Numarası', width: 100 },
                    {
                        name: 'createdate',
                        label: 'Oluşturulma Tarihi',
                        width: 100,
                        formatter: function (cellValue) {
                            if (cellValue) {
                                var date = new Date(cellValue);
                                var formattedDate = (date.getDate() < 10 ? '0' : '') + date.getDate() + '.' +
                                    ((date.getMonth() + 1 < 10 ? '0' : '') + (date.getMonth() + 1)) + '.' +
                                    date.getFullYear();
                                return formattedDate;
                            } else {
                                return '';
                            }
                        }
                    },
                    { name: 'totalprice', label: 'Toplam Fiyat', width: 80 },
                    { name: 'totalpiece', label: 'Toplam Adet', width: 80 },
                    { name: 'productpiece', label: 'Ürün Adeti', width: 80 },
                    {
                        name: 'status',
                        label: 'Durum',
                        width: 130,
                        formatter: function (cellValue) {
                            var statusText = '';
                            var statusStyle = '';

                            switch (cellValue) {
                                case 1:
                                    statusText = 'Teklifte';
                                    statusStyle = 'color: green;';
                                    break;
                                case 2:
                                    statusText = 'KALDIRILDI';
                                    statusStyle = 'color: red;';
                                    break;
                                case 3:
                                    statusText = 'Teklif İptal Edildi';
                                    statusStyle = 'color: red;';
                                    break;
                                case 4:
                                    statusText = 'Siparişe Geçildi';
                                    statusStyle = 'color: green;';
                                    break;
                                case 5:
                                    statusText = 'Beklemede';
                                    statusStyle = 'color: orange;';
                                    break;
                                default:
                                    break;
                            }

                            return '<span style="' + statusStyle + '">' + statusText + '</span>';
                        }
                    },
                    {
                        name: 'actions', label: '', width: 310,
                        formatter: function (cellValue, options, rowObject) {
                            if (rowObject.status === 1) {
                                var buttons = '<button class="btn btn-success open-offertoorder-modal" ' +
                                    'data-offerid="' + rowObject.id + '">Siparişe Geç</button>' +
                                    '<button class="btn btn-warning open-delete-modal" ' +
                                    'data-offerid="' + rowObject.id + '">İptal Et</button>' +
                                    '<button class="btn btn-warning open-detail-modal" ' +
                                    'data-offerid="' + rowObject.id + '">Detaylar</button>';
                            }
                            if (rowObject.status === 2) {
                                return '';
                            }
                            if (rowObject.status === 3) {
                                var buttons = '<button class="btn btn-success open-approve-modal" ' +
                                    'data-offerid="' + rowObject.id + '">Onayla</button>' +
                                    '<button class="btn btn-warning open-detail-modal" ' +
                                    'data-offerid="' + rowObject.id + '">Detaylar</button>';

                            }
                            if (rowObject.status === 4) {
                                var buttons = '<button class="btn btn-warning open-detail-modal" ' +
                                    'data-offerid="' + rowObject.id + '">Detaylar</button>';
                            }
                            if (rowObject.status === 5) {
                                var buttons = '<button class="btn btn-success open-approve-modal" ' +
                                    'data-offerid="' + rowObject.id + '">Onayla</button>' +
                                    '<button class="btn btn-warning open-delete-modal" ' +
                                    'data-offerid="' + rowObject.id + '">İptal Et</button>'+
                                    '<button class="btn btn-warning open-detail-modal" ' +
                                    'data-offerid="' + rowObject.id + '">Detaylar</button>';
                            }
                            return buttons;
                        }
                    }
                ],
                pager: '#offerGridPager',
                rowNum: 10,
                rowList: [10, 20, 30, 40, 50],
                sortname: 'id',
                viewrecords: true,
                autoheight: true,
                autoWidth: true,
                responsive: true,

                footerrow: true,
                userDataOnFooter: true,
                gridComplete: function () {
                    var sumTotalPrice = offerGrid.jqGrid('getCol', 'totalprice', false, 'sum');
                    var sumTotalPiece = offerGrid.jqGrid('getCol', 'totalpiece', false, 'sum');
                    var sumProductPiece = offerGrid.jqGrid('getCol', 'productpiece', false, 'sum');

                    sumTotalPiece = Math.floor(sumTotalPiece);
                    sumProductPiece = Math.floor(sumProductPiece);

                    offerGrid.jqGrid('footerData', 'set', {
                        name: 'Toplam:',
                        totalprice: sumTotalPrice.toFixed(2),
                        totalpiece: sumTotalPiece.toString(),
                        productpiece: sumProductPiece.toString()
                    });
                }
            });
        }
    }



    function openDetailModal(button) {
        var data = button.dataset;

        $.ajax({
            url: '@Url.Action("GetOfferDetails", "Offer")',
            type: 'GET',
            data: { offerId: data.offerid },
            dataType: 'json',
            success: function (response) {
                var detailHtml = '';

                if (response.length > 0) {
                    var firstDetail = response[0];

                    var createDate = new Date(firstDetail.createdate);
                    var formattedCreateDate = (createDate.getDate() < 10 ? '0' : '') + createDate.getDate() + '.' +
                        ((createDate.getMonth() + 1 < 10 ? '0' : '') + (createDate.getMonth() + 1)) + '.' +
                        createDate.getFullYear();

                    detailHtml += `
                        <div class="offer-detail">
                            <p>İsim: ${firstDetail.name}</p>
                            <p>Soyisim: ${firstDetail.lastname}</p>
                            <p>E-Mail: ${firstDetail.mail}</p>
                            <p>Telefon Numarası: ${firstDetail.phonenumber}</p>
                            <p>Oluşturulma Tarihi: ${formattedCreateDate}</p>
                        </div>
                        <hr class="divider">
                    `;

                    for (var i = 0; i < response.length; i++) {
                        var detail = response[i];
                        detailHtml += `
                            <div class="offer-detail">
                                <p>Ürün Adı: ${detail.productname}</p>
                                <p>Adet: ${detail.productpiece}</p>
                                <p>Fiyat: ${detail.productprice}</p>
                            </div>
                            <hr class="divider">
                        `;
                    }
                }

                firstModal = $.dialog({
                    title: 'Teklif Detayları',
                    content: detailHtml
                });
            },
            error: function (error) {
                console.log("Detayları getirirken hata oluştu: ", error);
            }
        });
    }




    function openDeleteTeklifModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
    title: 'Teklif Kaldır',
    content: `
    <!-- ${JSON.stringify(data)} -->
    <form method="post" action="@Url.Action("RemoveOffer", "Offer")">

        <div class="form-group">
            <label>Kaldırmak istiyor musunuz ?</label>
        </div>

        <div class="form-group">
            <input type="text" id="ID" name="ID" class="form-control" value="${data.offerid}" required hidden />

        </div>

        <div class="form-group">
            <input type="submit" value="Kaldır" class="btn btn-warning w-100" />
        </div>

    </form>
    `
    });
    }


    function openOrderTeklifModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
    title: 'Siparişe Geç',
    content: `
    <!-- ${JSON.stringify(data)} -->
    <form method="post" action="@Url.Action("GoToOrder", "Offer")">

        <div class="form-group">
            <label>Siparişe geçmek istiyor musunuz ?</label>
        </div>

        <div class="form-group">
            <input type="text" id="ID" name="ID" class="form-control" value="${data.offerid}" required hidden />

        </div>

        <div class="form-group">
            <input type="submit" value="Onayla" class="btn btn-primary w-100" />
        </div>

    </form>
    `
    });
    }


    function openApproveTeklifModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
    title: 'Teklif Onayla',
    content: `
    <!-- ${JSON.stringify(data)} -->
    <form method="post" action="@Url.Action("ApproveOffer", "Offer")">

        <div class="form-group">
            <label>Onaylamak istiyor musunuz ?</label>
        </div>

        <div class="form-group">
            <input type="text" id="ID" name="ID" class="form-control" value="${data.offerid}" required hidden />

        </div>

        <div class="form-group">
            <input type="submit" value="Onayla" class="btn btn-primary w-100" />
        </div>

    </form>
    `
    });
    }


    $(document).on('click', '.open-delete-modal', function () {
        openDeleteTeklifModal(this);
    });

    $(document).on('click', '.open-approve-modal', function () {
        openApproveTeklifModal(this);
    });

    $(document).on('click', '.open-offertoorder-modal', function () {
        openOrderTeklifModal(this);
    });

    $(document).on('click', '#openYeniTeklifModalButton', function () {
        openYeniTeklifModal();
    });

    $(document).on('submit', 'form', function (e) {
        e.preventDefault();
        var form = $(this);

        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(),
            success: function (response) {
                var message = response;
                mesajDialog = $.dialog({
                    title: 'İşlem Sonucu',
                    content: message,
                    closeButton: false
                });
                setTimeout(function () {
                    mesajDialog.close();
                    if (firstModal) {
                        firstModal.close();
                    }
                    filterOffers();
                }, 1500);
            },
            error: function (error) {
                alert("Başarısız");
            }
        });
    });

    $(document).on('click', '.open-detail-modal', function () {
        openDetailModal(this);
    });


    $(document).ajaxError(function () {
        adet = 0;
    });


</script>

